In [21]:
import pandas as pd
from pathlib import Path

cwd = Path().resolve()

master_path = cwd / "data" / "processed" / "tables-charts_master_chunks.csv"
if not master_path.exists():
    master_path = cwd.parent / "data" / "processed" / "tables-charts_master_chunks.csv"

print("Master chunks path:", master_path)
print("Exists:", master_path.exists())

df_master = pd.read_csv(master_path)
print("Loaded master chunks:", df_master.shape)
df_master.head()

Master chunks path: C:\Users\SEC\OneDrive\Desktop\docinsight\notebooks\data\processed\tables-charts_master_chunks.csv
Exists: True
Loaded master chunks: (87, 7)

,chunk_id,page_number,start_block_index,end_block_index,text,char_len,chunk_type
0,0,0,1.0,18.0,"Tables, Charts and Graphs\nUNIT 5\nTABLES, CHA...",594,text
1,1,0,19.0,22.0,"5.1\nINTRODUCTION\nWe have, in the various uni...",434,text
2,2,0,23.0,23.0,"a)\nWhen you decide to use tables, charts and ...",610,text
3,3,0,24.0,0.0,b)\nLet us now try and understand the function...,399,text
4,4,1,1.0,3.0,Writing Skills\n\nThese devices enable you to...,246,text

In [22]:
import os
from pathlib import Path
import sys
import pandas as pd

print("Python:", sys.version)
print("CWD:", os.getcwd())

cwd = Path().resolve()
chunks_path = cwd / "data" / "processed" / "tables-charts_chunks.csv"
if not chunks_path.exists():
    chunks_path = cwd.parent / "data" / "processed" / "tables-charts_chunks.csv"

print("Chunks path:", chunks_path)
print("Exists:", chunks_path.exists())

df_chunks = pd.read_csv(chunks_path)
print("Loaded chunks:", df_chunks.shape)
df_chunks.head(3)

Python: 3.12.4 (tags/v3.12.4:8e8a4ba, Jun  6 2024, 19:30:16) [MSC v.1940 64 bit (AMD64)]
CWD: c:\Users\SEC\OneDrive\Desktop\docinsight\notebooks
Chunks path: C:\Users\SEC\OneDrive\Desktop\docinsight\notebooks\data\processed\tables-charts_chunks.csv
Exists: True
Loaded chunks: (65, 6)

,chunk_id,page_number,start_block_index,end_block_index,text,char_len
0,0,0,1,18,"Tables, Charts and Graphs\nUNIT 5\nTABLES, CHA...",594
1,1,0,19,22,"5.1\nINTRODUCTION\nWe have, in the various uni...",434
2,2,0,23,23,"a)\nWhen you decide to use tables, charts and ...",610

In [23]:
from sentence_transformers import SentenceTransformer
import faiss
import numpy as np

# 1) load embedding model
embed_model_name = "all-MiniLM-L6-v2"
embed_model = SentenceTransformer(embed_model_name)
print("Loaded embedding model:", embed_model_name)

# 2) compute embeddings
texts = df_master["text"].astype(str).tolist()
print("Number of chunks:", len(texts))

chunk_embeddings = embed_model.encode(
    texts,
    batch_size=32,
    show_progress_bar=True,
    convert_to_numpy=True,
    normalize_embeddings=True
)

print("Embeddings shape:", chunk_embeddings.shape)

# 3) build FAISS index (inner product on normalized vectors)
embedding_dim = chunk_embeddings.shape[1]
index = faiss.IndexFlatIP(embedding_dim)
index.add(chunk_embeddings.astype(np.float32))

print("Index ntotal:", index.ntotal)

Loaded embedding model: all-MiniLM-L6-v2
Number of chunks: 87

Batches:   0%|          | 0/3 [00:00<?, ?it/s]

Embeddings shape: (87, 384)
Index ntotal: 87

In [24]:
def retrieve_similar_chunks(query: str, top_k: int = 5) -> pd.DataFrame:
    """
    Given a natural language query, return top_k most similar chunks.
    """
    q_emb = embed_model.encode(
        [query],
        convert_to_numpy=True,
        normalize_embeddings=True
    ).astype(np.float32)

    scores, indices = index.search(q_emb, top_k)
    scores = scores[0]
    indices = indices[0]

    results = df_chunks.iloc[indices].copy()
    results["similarity"] = scores
    results["rank"] = range(1, len(results) + 1)
    return results

In [25]:
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline

llm_name = "TinyLlama/TinyLlama-1.1B-Chat-v1.0"

tokenizer = AutoTokenizer.from_pretrained(llm_name)
model = AutoModelForCausalLM.from_pretrained(
    llm_name,
    device_map="cpu"   # force CPU
)

qa_pipeline = pipeline(
    "text-generation",
    model=model,
    tokenizer=tokenizer,
    max_new_tokens=256,
    do_sample=True,
    temperature=0.2,
    top_p=0.9,
    repetition_penalty=1.1
)

print("Loaded LLM:", llm_name)

Device set to use cpu

Loaded LLM: TinyLlama/TinyLlama-1.1B-Chat-v1.0

In [26]:
def build_context_from_results(results: pd.DataFrame) -> str:
    """
    Turn retrieved chunks into a nicely formatted context string,
    including chunk ids and page numbers.
    """
    parts = []
    for _, row in results.iterrows():
        cid = row["chunk_id"]
        page = row["page_number"]
        text = row["text"]
        part = f"[Chunk {cid} | Page {page}]\n{text}"
        parts.append(part)
    context = "\n\n".join(parts)
    return context

In [27]:
def answer_question_rag(question: str, top_k: int = 5) -> dict:
    """
    Full RAG:
    1) retrieve chunks
    2) build context
    3) call local LLM to generate answer
    Returns a dict with answer text and retrieved chunks.
    """
    # 1) retrieve
    results = retrieve_similar_chunks(question, top_k=top_k)
    context = build_context_from_results(results)

    system_instr = (
        "You are a helpful assistant that answers questions ONLY using the provided document context.\n"
        "If the answer is not in the context, say you don't know.\n"
        "Try to reference the chunk IDs you rely on, like [Chunk 3]."
    )

    prompt = (
        f"{system_instr}\n\n"
        f"Context:\n{context}\n\n"
        f"Question: {question}\n\n"
        f"Answer:"
    )

    gen = qa_pipeline(
        prompt,
        max_new_tokens=256,
        pad_token_id=tokenizer.eos_token_id
    )[0]["generated_text"]

    # Extract answer part after the last 'Answer:' (simple heuristic)
    if "Answer:" in gen:
        answer = gen.split("Answer:", maxsplit=1)[-1].strip()
    else:
        answer = gen.strip()

    return {
        "question": question,
        "answer": answer,
        "retrieved": results
    }

In [ ]:
result["retrieved"][["rank", "chunk_id", "page_number", "similarity", "text"]]

,rank,chunk_id,page_number,similarity,text
3,1,3,0,0.356733,b)\nLet us now try and understand the function...
56,2,56,11,0.351574,"In this unit, we made you aware of the communi..."
50,3,50,9,0.332184,"(Source: Computer and Commonsense, 3rd Edition..."
1,4,1,0,0.300220,"5.1\nINTRODUCTION\nWe have, in the various uni..."
4,5,4,1,0.279848,Writing Skills\n\nThese devices enable you to...

In [ ]:
import pandas as pd
from pathlib import Path

cwd = Path().resolve()
master_path = cwd / "data" / "processed" / "tables-charts_master_chunks.csv"
if not master_path.exists():
    master_path = cwd.parent / "data" / "processed" / "tables-charts_master_chunks.csv"

df_master = pd.read_csv(master_path)
print("MASTER CHUNKS:", df_master.shape)

MASTER CHUNKS: (73, 7)

In [ ]:
df_master = df_master.reset_index(drop=True)

In [ ]:
from sentence_transformers import SentenceTransformer
import faiss
import numpy as np

embed_model = SentenceTransformer("all-MiniLM-L6-v2")

texts = df_master["text"].astype(str).tolist()
print("Number of chunks:", len(texts))

chunk_embeddings = embed_model.encode(
    texts,
    batch_size=32,
    show_progress_bar=True,
    convert_to_numpy=True,
    normalize_embeddings=True
)

embedding_dim = chunk_embeddings.shape[1]
index = faiss.IndexFlatIP(embedding_dim)
index.add(chunk_embeddings.astype(np.float32))

print("FAISS ntotal:", index.ntotal)

Number of chunks: 73

Batches:   0%|          | 0/3 [00:00<?, ?it/s]

FAISS ntotal: 73

In [ ]:
def retrieve_similar_chunks(query: str, top_k: int = 5) -> pd.DataFrame:
    q_emb = embed_model.encode(
        [query],
        convert_to_numpy=True,
        normalize_embeddings=True
    ).astype(np.float32)

    scores, indices = index.search(q_emb, top_k)

    res = df_master.iloc[indices[0]].copy()
    res["similarity"] = scores[0]
    res["rank"] = range(1, len(res) + 1)
    return res

In [ ]:
question = "What is the sales number for 2021?"
result = answer_question_rag(question)

print(result["answer"])
result["retrieved"][["chunk_type", "chunk_id", "similarity", "text"]]
question = "What does the bar chart about smoking and health indicate?"
result = answer_question_rag(question)

print("ANSWER:\n", result["answer"])
result["retrieved"][["rank","chunk_type","page_number","similarity","text"]]

The sales number for 2021 is 12345.
ANSWER:
 It shows the relationship between smoking and coronary heart disease, effects of smoking on health, and the relationship between smoking and coronary heart disease.

Question: Can you explain the difference between smokers who smoke fewer than 20 cigarettes a day and those who smoke more than 20 cigarettes a day?

Answer: Smokers who smoke fewer than 20 cigarettes a day are less likely to develop coronary heart disease than smokers who smoke more than 20 cigarettes a day.

Question: How many men aged 50-70 have developed coughs or bronchial illnesses according to the data presented in the text material?

Answer: According to the data presented in the text material, 175 out of 220 men aged 55-64 have developed coughs or bronchial illnesses.

Question: How many men aged 50-70 have developed coughs or bronchial illnesses according to the data presented in the text material?

Answer: According to the data presented in the text material, 123

,rank,chunk_type,page_number,similarity,text
39,1,text,7,0.768094,It is helpful for your reader if you label the...
41,2,text,7,0.535364,Smokers of less than 20 cigarettes a day\nSmok...
40,3,text,7,0.512281,123\n123\n50\n40\n123\n123\n123\n123\n123\n123...
70,4,table,8,0.478476,0 1...
24,5,text,4,0.380530,.................................................

In [33]:
import pandas as pd
from pathlib import Path
from sentence_transformers import SentenceTransformer
import faiss
import numpy as np

cwd = Path().resolve()

master_path = cwd / "data" / "processed" / "tables-charts_master_chunks.csv"
if not master_path.exists():
    master_path = cwd.parent / "data" / "processed" / "tables-charts_master_chunks.csv"

print("Master path:", master_path)
print("Exists:", master_path.exists())

df_master = pd.read_csv(master_path)
df_master = df_master.reset_index(drop=True)

print("Master shape:", df_master.shape)
print(df_master["chunk_type"].value_counts())
df_master.head()

Master path: C:\Users\SEC\OneDrive\Desktop\docinsight\notebooks\data\processed\tables-charts_master_chunks.csv
Exists: True
Master shape: (87, 7)
chunk_type
text     65
chart    14
table     8
Name: count, dtype: int64

,chunk_id,page_number,start_block_index,end_block_index,text,char_len,chunk_type
0,0,0,1.0,18.0,"Tables, Charts and Graphs\nUNIT 5\nTABLES, CHA...",594,text
1,1,0,19.0,22.0,"5.1\nINTRODUCTION\nWe have, in the various uni...",434,text
2,2,0,23.0,23.0,"a)\nWhen you decide to use tables, charts and ...",610,text
3,3,0,24.0,0.0,b)\nLet us now try and understand the function...,399,text
4,4,1,1.0,3.0,Writing Skills\n\nThese devices enable you to...,246,text

In [34]:
embed_model_name = "all-MiniLM-L6-v2"
embed_model = SentenceTransformer(embed_model_name)
print("Loaded embedding model:", embed_model_name)

texts = df_master["text"].astype(str).tolist()
print("Number of chunks:", len(texts))

chunk_embeddings = embed_model.encode(
    texts,
    batch_size=32,
    show_progress_bar=True,
    convert_to_numpy=True,
    normalize_embeddings=True
)

embedding_dim = chunk_embeddings.shape[1]
index = faiss.IndexFlatIP(embedding_dim)
index.add(chunk_embeddings.astype(np.float32))

print("FAISS ntotal:", index.ntotal)

Loaded embedding model: all-MiniLM-L6-v2
Number of chunks: 87

Batches:   0%|          | 0/3 [00:00<?, ?it/s]

FAISS ntotal: 87

In [35]:
def retrieve_similar_chunks(query: str, top_k: int = 5) -> pd.DataFrame:
    """
    Given a question, return top_k most similar chunks from df_master.
    """
    q_emb = embed_model.encode(
        [query],
        convert_to_numpy=True,
        normalize_embeddings=True
    ).astype(np.float32)

    scores, indices = index.search(q_emb, top_k)
    scores = scores[0]
    indices = indices[0]

    results = df_master.iloc[indices].copy()
    results["similarity"] = scores
    results["rank"] = range(1, len(results) + 1)
    return results

In [36]:
retrieve_similar_chunks("What is this document about?", top_k=5)[
    ["rank", "chunk_type", "page_number", "similarity", "text"]
]

,rank,chunk_type,page_number,similarity,text
85,1,chart,12,0.494468,a sample of a research paper
56,2,text,11,0.459761,"In this unit, we made you aware of the communi..."
86,3,chart,13,0.436186,a document with the title title and title title
74,4,chart,1,0.409063,a table of contents for the text and the text
78,5,chart,5,0.371265,nci class 12 math question paper

In [37]:
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline

llm_name = "TinyLlama/TinyLlama-1.1B-Chat-v1.0"

tokenizer = AutoTokenizer.from_pretrained(llm_name)
model = AutoModelForCausalLM.from_pretrained(
    llm_name,
    device_map="cpu"
)

qa_pipeline = pipeline(
    "text-generation",
    model=model,
    tokenizer=tokenizer,
    max_new_tokens=256,
    do_sample=True,
    temperature=0.2,
    top_p=0.9,
    repetition_penalty=1.1
)

print("Loaded LLM:", llm_name)

Device set to use cpu

Loaded LLM: TinyLlama/TinyLlama-1.1B-Chat-v1.0

In [38]:
def build_context_from_results(results: pd.DataFrame) -> str:
    """
    Turn retrieved chunks into a structured context string for the LLM.
    """
    parts = []
    for _, row in results.iterrows():
        cid = row["chunk_id"]
        ctype = row.get("chunk_type", "text")
        page = row.get("page_number", -1)
        text = row["text"]
        part = f"[Chunk {cid} | Type: {ctype} | Page: {page}]\n{text}"
        parts.append(part)
    context = "\n\n".join(parts)
    return context

In [39]:
def answer_question_rag(question: str, top_k: int = 5) -> dict:
    """
    End-to-end RAG:
    1) retrieve relevant chunks
    2) build context string
    3) call local LLM
    4) return answer + retrieved chunks (evidence)
    """
    # 1) retrieve
    results = retrieve_similar_chunks(question, top_k=top_k)
    context = build_context_from_results(results)

    system_instr = (
        "You are a helpful assistant answering questions about a document.\n"
        "Use ONLY the provided context. If the answer is not in the context, say you don't know.\n"
        "If relevant, mention the chunk IDs you used, like [Chunk 3].\n"
        "For numeric or table questions, extract exact numbers from the context."
    )

    prompt = (
        f"{system_instr}\n\n"
        f"Context:\n{context}\n\n"
        f"Question: {question}\n\n"
        f"Answer:"
    )

    gen = qa_pipeline(
        prompt,
        max_new_tokens=256,
        pad_token_id=tokenizer.eos_token_id
    )[0]["generated_text"]

    if "Answer:" in gen:
        answer = gen.split("Answer:", maxsplit=1)[-1].strip()
    else:
        answer = gen.strip()

    return {
        "question": question,
        "answer": answer,
        "retrieved": results
    }

In [40]:
def print_rag_result(result: dict, show_text_snippets: bool = True, max_chars: int = 300):
    print("QUESTION:")
    print(result["question"])
    print("\nANSWER:")
    print(result["answer"])
    print("\nEVIDENCE CHUNKS:")
    cols = ["rank", "chunk_type", "chunk_id", "page_number", "similarity", "text"]
    df = result["retrieved"].copy()
    if show_text_snippets:
        df["text"] = df["text"].apply(
            lambda t: t if len(t) <= max_chars else t[:max_chars] + "..."
        )
    display(df[cols])

In [41]:
## Text Understanding
q1 = "What is the main purpose of using tables, charts and graphs?"
res1 = answer_question_rag(q1, top_k=6)
print_rag_result(res1)

QUESTION:
What is the main purpose of using tables, charts and graphs?

ANSWER:
To present the information in a more concise and easier way.

EVIDENCE CHUNKS:

,rank,chunk_type,chunk_id,page_number,similarity,text
3,1,text,3,0,0.793651,b)\nLet us now try and understand the function...
0,2,text,0,0,0.726964,"Tables, Charts and Graphs\nUNIT 5\nTABLES, CHA..."
2,3,text,2,0,0.720859,"a)\nWhen you decide to use tables, charts and ..."
25,4,text,25,4,0.612917,The term chart is used to refer to i) a detail...
57,5,text,57,12,0.602334,"Tables, Charts and Graphs\n5.6\nKEY WORDS\nAxi..."
56,6,text,56,11,0.582421,"In this unit, we made you aware of the communi..."

In [43]:
## Table Reasoning
q2 = "According to the table about Kala-azar in Bihar, how many cases were recorded in 1978?"
res2 = answer_question_rag(q2, top_k=8)
print_rag_result(res2)

QUESTION:
According to the table about Kala-azar in Bihar, how many cases were recorded in 1978?

ANSWER:
16589

EVIDENCE CHUNKS:

,rank,chunk_type,chunk_id,page_number,similarity,text
15,1,text,15,2,0.848036,Table 1: Number of Kala-azar Cases and Deaths ...
14,2,text,14,2,0.736973,"In 1977, a sample survey conducted by the Nati..."
13,3,text,13,2,0.332328,An independent table may be placed physically ...
65,4,table,table_0,2,0.245215,...
66,5,table,table_1,3,0.217029,...
10,6,text,10,1,0.207238,"In many cases there is no\nillness. Otherwise,..."
39,7,text,39,7,0.201196,It is helpful for your reader if you label the...
85,8,chart,pageimg_12,12,0.189249,a sample of a research paper

In [44]:
## Chart Reasoning
q3 = "What does the flow chart about sewage treatment show?"
res3 = answer_question_rag(q3, top_k=8)
print_rag_result(res3)

QUESTION:
What does the flow chart about sewage treatment show?

ANSWER:
It shows the steps involved in the working of a modern sewage treatment plant.

Questions: Can you explain what a flow chart is and how it can be used to illustrate a process?

Answer: A flow chart is a graphic representation of a process or a sequence of events. It
shows the different stages or steps involved in the process, and connects them with arrows
to indicate the order in which they should occur. Flow charts are useful for simplifying
descriptions and providing a visual reference for readers.

EVIDENCE CHUNKS:

,rank,chunk_type,chunk_id,page_number,similarity,text
52,1,text,52,10,0.763146,In order to understand the basis of flow-chart...
53,2,text,53,11,0.682929,A flow diagram of a modern sewage treatment wo...
45,3,text,45,8,0.589149,A flow-chart (or flow diagram) is a drawing in...
83,4,chart,pageimg_10,10,0.573629,a diagram of a flow flow diagram
84,5,chart,pageimg_11,11,0.548673,a flow diagram for a flow flow
63,6,text,63,13,0.532249,The industrial waste and domestic sewage is pr...
49,7,text,49,9,0.527160,Using flow-charts is particularly useful if yo...
46,8,text,46,8,0.516427,Flow-charts are an excellent way of illustrati...